<!DOCTYPE html>
<html>
<head>
   <title>在线图书馆</title>
 	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
 	<meta name="viewport" content="width=device-width, initial-scale=1.0">
 	<link href="/static/bootstrap.min.css" rel="stylesheet">
</head>
<body>
	<div class="row">
		<nav class="navbar navbar-default offset2 " role="navigation">
		<div class="navbar-header">
			<a href="/books/" class="navbar-brand"><h2>在线图书馆</h2></a>
		</div>
		<div>
			<ul class="nav navbar-nav">
				<li><a href="/books/">书籍</a></li>
				<li>
					<div  class="col-lg-4">
						<div class="input-group">
							<form action="/books/"  method="get">
								<input type="text" class="form-contrl" name="author"  placeholder="搜＂书名＂"/>
								<span class="input-group-btn">
									<button class="btn" type="submit">
										Go!
									</button>
								</span>
							</form>
						</div>
					</div>
				</li>
			</ul>
		</div>
		</nav>
	</div>
	<div class="container">
		<div >
			<div class="input-group">
				<form action="/new_book/"  method="get">
					<p><input  placeholder={{book.title}} value={{book.title}} name="title"/></p>
					<p><select name="author">
						{% for author in authors%}
							{% ifequal author  book_author_name %}
								<option selected="true">{{author}}</option>
							{% else%}
								<option>{{author}}</option>
							{% endifequal %}
						</option>
						{% endfor %}
					</select></p>
					<p>作者不存在？我们加一个<input type=button onclick="javascript:window.location.href='/add_author/'" value="go"> </p>
					<p> <input placeholder={{book.publisher}} value={{book.publisher}} name="publisher"/></p>
					<p><input placeholder={{book.publish_date|date:"Y"}} value={{book.publish_date|date:"Y"}} name="year" /></p>
					<p><input placeholder={{book.publish_date|date:"m"}} value={{book.publish_date|date:"m"}} name="month"/></p>
					<p>  <input  placeholder= {{book.publish_date|date:"d"}} value={{book.publish_date|date:"d"}}  name="day"/> </p>
					<p>  <input  placeholder={{book.price}} value= {{book.price}} name="price"/> </p>
					<p><button type="submit">提交</button></p>
				</form>
			</div>
		</div>
	</div>
</body>
</html>

