<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
<title>5秒后跳转到另一个页面</title>

<script type="text/javascript">
var t = 5;
function countDown(){
var time = document.getElementById("time");
var text = document.getElementById("text");
t--;
text.innerHTML = t;
time.value=t;
if (t<=0) {
location.href="/books/";
clearInterval(inter);
};
}
var inter = setInterval("countDown()",1000);
//window.onload=countDown;
</script>

</head>
<body onload="countDown()">

<input type="hidden" readonly="true" value="5" id="time"/>
{{text}}, After <text id="text"></text>'s go to book list!
</body>
</html>